$enable-negative-margins: true;
$spacer: 2.5rem;

$font-family-base: 'Futura LT Book', sans-serif;
$headings-font-family: 'Futura LT Bold', sans-serif;
$btn-font-family: 'Futura LT Bold', sans-serif;

$yellow: rgb(255, 203, 15);
$primary: $yellow;

$h1-font-size: 3rem;
$h2-font-size: 2.5rem;
$h3-font-size: 1.875rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1.025rem;

$font-sizes: (
  1: 4.375rem,
  2: 2.5rem,
  3: 1.875rem,
  4: 1.25rem,
  5: 1.125rem,
  6: 1.025rem,
);

$border-radius: 0.5rem;

@import '../node_modules/bootstrap/scss/bootstrap';

.btn-primary:hover {
  color: #ffffff;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4.375rem !important;
  }
}

a {
  text-decoration: none;
  color: #000000;
}