body::before {
  content: '';
  height: 5rem;
  display: block;
  @media (min-width: 991px) {
    height: 8rem;
  }
}

.main-nav {
  min-height: 5rem;
  @media (min-width: 991px) {
    margin-top: 3rem;
  }
}

.header {
  background-image: url('../img/bg-hero.png');
  background-size: cover;
  background-position: center;
}

.about-us {
  &__image {
    @media (min-width: 1200px) {
      background-image: url('../img/bg-welcome.png');
      background-size: auto;
      background-repeat: no-repeat;
      background-position: right center;
    }
  }

  &__paragraph {
    max-width: 40rem;
  }
}

.choose-us {
  background: #f2f7fa;
}
